PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=ta_ssdlc_akademik
JWT_SECRET=changeme
ADMIN_EMAIL=
ADMIN_PASSWORD=
PGCRYPTO_KEY=
SEMESTER_AKTIF=
SEED_USER_PASSWORD=
GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_RETRIES=
GEMINI_DELAY_SEC=
SONAR_TOKEN=
SONAR_BRANCH=
SONAR_PROJECT=
